:root {

    --Dark-Blue: #182539; 
    --Dark-Blue-Secundary: #09103E;
    --Blue-Primary: #1F447A;
    --Blue-Secondary: #799DD2;
    --Blue-Light: #EAF0F5;
    --White: #FFF;
    --Green-Tertiary: #A8CC33;
    --Dark-Green: #86A329;
    --Dark-Teal-Blue: #325155;
    
}