header {
    max-width: 115.6rem;
    margin: 0 auto;
    z-index: 10000;

    nav {
        color: var(--Dark-Blue);
        font-family: 'Roboto', sans-serif;
        @include font-size(1.6rem);
        @include rfs(140%, line-height);

        li {
            text-transform: uppercase;
        }

        .dropdown-toggle::after {
            display: inline-block;
            vertical-align: baseline;
            content: url('../../../imgs/Arrow-MenuDropdown.svg');
            border: 0;
        }

        .navbar-nav .dropdown-menu.show {
            box-shadow: 0rem 0rem 2.4rem -0.8rem rgba(49, 80, 126, 0.24);
            width: 100%;
            max-width: 14rem;
            border: 0;
            color: var(--Dark-Blue);
            font-family: 'Roboto', sans-serif;
            @include font-size(1.6rem);
            @include rfs(140%, line-height);
            text-transform: uppercase;
        }
    }

    .contact-section {
        a {
            padding-left: 0.8rem;
            color: var(--Dark-Blue);
            font-size: 1.4rem;
            font-style: normal;
            line-height: 2.4rem;
            text-decoration: none;
        }
    }

    .navbar.navbar-expand-lg {
        padding: 0;

        .container {
            padding: 1.6rem 2.4rem;
        }
    }

    @media (max-width: 577px) {
        .navbar.navbar-expand-lg {

            .navbar-brand .img-fluid {
                max-width: 80%;
            }
        }

        .btn-primary {
            margin: 1.5rem;
        }

        .dropdown-menu.show {
            margin: 5px;
        }

        .navbar-expand-lg {
            padding: 1.6rem;
            border-radius: 0;
            background: var(--White);
            box-shadow: 0rem 0rem 2.4rem -0.8rem rgba(49, 80, 126, 0.24);
            display: flex;
            justify-content: flex-start;
        }

        .navbar-collapse {
            margin-top: 4rem;
        }

        .navbar-nav {
            border-bottom: 1px solid #EAF0F5;
        }
    }

    @media (min-width: 490px) and (max-width: 768px) {
        .navbar-expand-lg {
            height: 8rem;
            padding: 1rem 1rem;
            background: var(--White);
            box-shadow: 0rem 0rem 2.4rem -0.8rem rgba(49, 80, 126, 0.24);
            display: flex;
            justify-content: flex-start;

            .nav-item.dropdown {
                display: block;
            }

            .container {
                background-color: var(--White);
                // box-shadow: 0px 0px 24px -8px rgba(49, 80, 126, 0.24);
            }
        }
    }

    @media (min-width: 768px) {
        .navbar .nav-item.dropdown .dropdown-menu {
            width: 13rem;
        }

        .navbar-nav {

            @include rfs(2.4rem, gap);
            margin: 0 auto;

            .dropdown-menu.show {
                box-shadow: 0rem 0rem 2.4rem -0.8rem rgba(49, 80, 126, 0.24);
                width: 14rem;
                border: 0;
                color: var(--Dark-Blue);
                font-family: 'Roboto', sans-serif;
                @include font-size(1.6rem);
                @include rfs(140%, line-height);
                text-transform: uppercase;
            }
        }

        .navbar.navbar-expand-lg .container {
            border-radius: 0.8rem;
            background-color: var(--White);
            border-radius: 8px;
            box-shadow: 0px 0px 24px -8px rgba(49, 80, 126, 0.24);
        }

        .nav-item {
            display: flex;
            gap: 2.4rem;
        }

        .desktop-contact {
            align-items: center;
            justify-content: center;

            .contact-item {
                margin-right: 2.3rem;
                padding: 0.8rem 0 0.8rem;
                display: flex;
                align-items: center;
                justify-content: center;

                a {
                    color: var(--White);
                    font-family: 'Roboto', sans-serif;
                    font-size: 1.4rem;
                    line-height: 2.4rem;
                }

                img {
                    height: 1.6rem;
                    width: 1.6rem;
                }
            }
        }
    }
}
