header {

    max-width: 115.6rem;
    margin: 0 auto;
    z-index: 1000;

    .desktop-contact {

        align-items: center;
        justify-content: center;
        padding: 0.8rem 0 0.8rem;
        transition: padding 0.3s ease;

        .contact-item {
            margin-right: 2.3rem;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.8rem;

            a {
                color: var(--White);
                font-family: 'Roboto', sans-serif;
                font-size: 1.4rem;
                line-height: 2.4rem;
                text-decoration: none;
                cursor: pointer;
            }

            img {
                height: 1.6rem;
                width: 1.6rem;
            }
        }
    }

    nav {

        @include font-size(1.6rem);
        @include rfs(140%, line-height);
        box-shadow: 0px 0px 24px -8px rgba(49, 80, 126, 0.24);
        border-radius: 8px;
        max-height: 8rem;
        text-transform: uppercase;
        background: var(--White);
        padding: 0;

        .container {

            @include padding(1.6rem 2.4rem);
            background-color: var(--White);
            border-radius: 8px;
            width: 100%;
            margin: 0;

            .navbar-nav {

                margin: 0 auto;
                @include rfs(2.4rem, gap);

            }

            .navbar-nav .dropdown-menu.show {

                border: 0;
                color: var(--Dark-Blue);
                font-family: 'Roboto', sans-serif;
                @include font-size(1.6rem);
                @include rfs(140%, line-height);
                text-transform: uppercase;
                box-shadow: 0rem 0rem 2.4rem -0.8rem rgba(49, 80, 126, 0.24);

                .dropdown-item {

                    @include padding(0.8rem);

                }

            }

            .dropdown-toggle::after {

                display: inline-block;
                vertical-align: baseline;
                content: url('../../../imgs/Arrow-MenuDropdown.svg');
                border: 0;

            }

            .contact-section {

                a {

                    color: var(--Dark-Blue);
                    padding-left: 0.8rem;
                    text-decoration: none;
                    text-transform: none;
                    @include font-size(1.4rem);
                    @include rfs(2.4rem, line-height);

                }
            }



        }

    }

}


@media only screen and (max-width: 576px) {

    header {

        nav {

            border-radius: 0;

            .container {

                max-width: 100%;
                padding: 1.6rem;

                .navbar-collapse.collapse.show, .navbar-collapse.collapsing {

                    margin-top: 4rem;

                }

                .navbar-nav {

                    margin: 0 auto;
                    gap: 1.5rem;
    
                }

                .navbar-brand {

                    .img-fluid {

                        max-width: 80%;

                    }

                }

                .navbar-nav::after {

                    content: '';
                    display: block;
                    border-bottom: 1px solid #EAF0F5;
                    margin-bottom: 1.6rem;

                }

                .navbar-nav .dropdown-menu.show {

                    width: 12rem;
    
                }

            }

        }

    }

}
@media only screen and (min-width: 577px) and (max-width: 768px) {

    header {

        nav {

            border-radius: 0;

            .container {

                max-width: 100%;

                .navbar-collapse.collapse.show, .navbar-collapse.collapsing {

                    margin-top: 3rem;

                }

                .navbar-nav {

                    margin: 0 auto;
                    gap: 1.5rem;
    
                }

                .navbar-brand {

                    .img-fluid {

                        max-width: 80%;

                    }

                }

                .navbar-nav::after {

                    content: '';
                    display: block;
                    border-bottom: 1px solid #EAF0F5;
                    margin-bottom: 1.6rem;

                }

                .navbar-nav .dropdown-menu.show {

                    width: 12rem;
    
                }
        
            }

        }

    }

}
@media only screen and (min-width: 769px) and (max-width: 992px) {

    header {

        nav {

            border-radius: 0;

            .container {

                max-width: 100%;
                border-radius: 0;

                .navbar-collapse.collapse.show, .navbar-collapse.collapsing {

                    margin-top: 4rem;

                }

                .navbar-nav {

                    margin: 0 auto;
                    gap: 0;
    
                }

                .navbar-nav::after {

                    content: '';
                    display: block;
                    border-bottom: 1px solid #EAF0F5;
                    margin: 16px 0 16px;

                }

                .navbar-nav .dropdown-menu.show {

                    width: 12rem;
    
                }
        
            }

        }

    }

}
@media only screen and (min-width: 992px) and (max-width: 1199px) {

    header {

        .container {

            max-width: 100%;

        }

        nav {

            font-size: 15px;

            .container {

                max-width: 100%;
                padding: 1.6rem;
                max-height: 8rem;


                .navbar-nav {

                    gap: 1rem;
    
                }

                .btn-primary {

                    padding: 1.6rem;
                    font-size: 1.5rem;

                }
        
            }

        }

    }

}