.s-hero-acronis {

    background-image: url('../../../imgs/acronis/bg-s-hero-acronis.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    .container-pg {

        .global-hero-acronis {

            @include padding(20.7rem 0 6.2rem 0);

            .title-hero-acronis {

                img {

                    position: relative;
                    @include margin-bottom(3.2rem);

                }

                h1 {


                    opacity: 0;
                    position: absolute;
                    left: 170px;
                    top: 212px;
                

                }

            }
            .text-hero-acronis {

                p {

                    max-width: 438px;
                    color: var(--White);
                    @include font-size(1.8rem);
                    @include rfs(3.2rem, line-height);

                }

                .imagem-dados-acronis {

                    img {

                        max-width: 62.6rem;

                    }

                }

            }

        }

    }

}

.s-topicos-acronis {

    background-color: var(--Blue-Light);
    @include padding(8rem 0 7.8rem 0);

    .container-pg {

        .swiper.topicos-slide {

            margin: 0 auto;

            .swiper-wrapper {

                .swiper-slide {

                    @include padding(3.2rem);
                    @include rfs(3.2rem, gap);
                    background-color: var(--White);
                    border-radius: 0.4rem;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    max-width: 54rem;
                    align-self: stretch;

                    .subtittle-topico-acr {

                        width: 100%;
                        border-bottom: 1px solid var(--Green-Tertiary);

                        h2 {

                            color: var(--Blue-Primary);
                            font-family: "Rubik Mono One";
                            @include font-size(3.2rem);
                            @include rfs(3.2rem, line-height);
                            @include rfs(-0.032rem, letter-spacing);

                        }

                        p {

                            color: var(--Dark-Blue);
                            font-size: 18px;
                            @include rfs(3.2rem, line-height);

                        }


                    }

                }

            }

        }

    }

}

@media (max-width: 768px) {
    .s-hero-acronis {

        .container-pg {
        
            .global-hero-acronis {

                padding: 28.8rem 0 3.2rem 0;
                    // @include padding-top(20.7rem);
        
                .title-hero-acronis {
        
                    h1 {
        
                        opacity: 0;
                        position: absolute;
                        left: 32px;
                        top: 140px;
                        
        
                    }
        
                }
                
                .text-hero-acronis {

                    p {

                        max-width: 100%;
                        font-size: 1.4rem;
                        margin-bottom: 3.2rem;
    
                    }

                    img {

                        margin: 0 auto;
                        width: 100%;

                    }

                }
            }
        
        }
        
    }

    .s-topicos-acronis {
      
        .container-pg {
    
            .swiper.topicos-slide {
    
                margin: 0 auto;
    
                .swiper-wrapper {
    
                    .swiper-slide {
    
                        min-height: 43rem;
                        
                        .subtittle-topico-acr {

                            h2 {

                                font-size: 1.9rem;

                            }

                            p {

                                font-size: 1.4rem;

                            }

                        }
                    }
    
                }
    
            }
    
        }
    
    }
}

@media (min-width: 769px) {
    .s-hero-acronis {
    
        .container-pg {
    
            .global-hero-acronis {

                // display: flex;
                // justify-content: space-between;
                // align-items: center;
                @include padding-top(20.7rem);
    
                // .title-hero-acronis {
    
                    
    
                // }

                .text-hero-acronis {

                    display: flex;
                    justify-content: space-between;


                }
    
            }
    
        }
    
    }
    .s-topicos-acronis {

        background-color: var(--Blue-Light);
    
    
        .container-pg {
    
            .swiper.topicos-slide {
    

                .swiper-wrapper {
    
                    max-width: 111.4rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 2.2rem;
                    flex-wrap: wrap;

    
                    .swiper-slide {
    
                        max-width: 54rem;
                        min-height: 44rem;

                    }
    
                }
    
            }
    
        }
    
    }
}