.s-hero-acronis {

    background-image: url('../../../imgs/acronis/bg-s-hero-acronis.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    .container-pg {

        .global-hero-acronis {

            @include padding(20.7rem 0 6.2rem 0);

            .title-hero-acronis {

                img {

                    position: relative;
                    @include margin-bottom(3.2rem);

                }

                h1 {


                    opacity: 0;
                    position: absolute;
                    left: 170px;
                    top: 212px;
                

                }

            }
            .text-hero-acronis {

                p {

                    max-width: 438px;
                    color: var(--White);
                    @include font-size(1.8rem);
                    @include rfs(3.2rem, line-height);

                }

                .imagem-dados-acronis {

                    img {

                        max-width: 100%;

                    }

                }

            }

        }

    }

}

.s-topicos-acronis {

    background: url('../../../imgs/acronis/bg-list-top-acronis.png') no-repeat top center/cover var(--Blue-Light);
    @include padding(8rem 0 7.8rem 0);

    .container-pg {

        .swiper.topicos-slide {
            
            .swiper-pagination-topicos {

                width: 100%;
                max-width: 7.5rem;
                @include margin(0 0 2rem auto);

                .swiper-pagination-bullet {

                    border-radius: 1.2rem;
                    opacity: 0.3;
                    background: var(--Blue-Primary);
                    transition: all .3s;
    
                    &-active {
    
                        width: 1.723rem;
                        opacity: 1;
                        border-radius: 1.2rem;
                        background: var(--Blue-Primary);
    
                    }
    
                }

            }

            margin: 0 auto;

            .swiper-wrapper {

                .swiper-slide {

                    @include padding(3.2rem);
                    @include rfs(3.2rem, gap);
                    background-color: var(--White);
                    border-radius: 0.4rem;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    max-width: 54rem;
                    align-self: stretch;

                    .subtittle-topico-acr {

                        width: 100%;
                        border-bottom: 1px solid var(--Green-Tertiary);

                        h2 {

                            color: var(--Blue-Primary);
                            font-family: "Rubik Mono One";
                            @include font-size(3.2rem);
                            @include rfs(3.2rem, line-height);
                            @include rfs(-0.032rem, letter-spacing);

                        }

                        p {

                            color: var(--Dark-Blue);
                            font-size: 18px;
                            @include rfs(3.2rem, line-height);

                        }


                    }

                }

            }

        }

    }

}

.s-vantagens-acronis {

    max-height: 180rem;
    @include padding(8rem 0 10rem 0);
    background: url('../../../imgs/acronis/bg-vantagens-acronis.png') no-repeat top right/contain var(--Dark-Blue-Secundary);

    .container-pg {

        .global-vant-acronis {

            max-height: 125.5rem;

            .title-text-vantagens-acronis {

                max-width: 35rem;

                h2 {

                    color: var(--Green-Tertiary);
                    font-family: "Rubik Mono One";
                    @include font-size(3.2rem);
                    @include rfs(4rem, line-height);
                    @include rfs(-0.32px, letter-spacing);
                    @include margin-bottom(2.4rem);

                }

                p {

                    color: var(--White);
                    @include font-size(1.6rem);
                    @include rfs(2.4rem, line-height);
                    @include margin-bottom(2.4rem);

                }

            }

            .swiper.vantagens-acr {

                // overflow-y: auto;
                max-height: 151.9rem;

                .swiper-wrapper {

                    .swiper-slide {

                        
                        background: var(--Blue-Primary, #1F447A);
                        display: flex;
                        max-width: 54rem;
                        min-height: 22.4rem;
                        padding: 32px;
                        border-radius: 4px;


                        p {

                            color: var(--White);
                            line-height: 32px;

                        }

                    }

                }

                .pagination-VantagensArc {

                    width: 100%;
                    max-width: 9rem;
                    @include margin(0 0 2rem auto);
    
                    .swiper-pagination-bullet {
    
                        border-radius: 1.2rem;
                        opacity: 0.3;
                        background: var(--Green-Tertiary);
                        transition: all .3s;
        
                        &-active {
        
                            width: 1.723rem;
                            opacity: 1;
                            border-radius: 1.2rem;
                            background: var(--Green-Tertiary);
        
                        }
        
                    }
    
                }

            }

        }

    }
}

.s-controle-de-dados-acronis {

    @include padding(10.4rem 0 10.4rem 0);
    background-color: var(--Blue-Light);

    .container-pg {

        .swiper.control-dados {

            margin: 0 auto;

            .swiper-wrapper {

                max-width: 109.4rem;

                .swiper-slide {

                    max-width: 33.4rem;

                    .item-controle {

                        .mini-text{

                            img {

                                max-height: 6.4rem;
                                max-width: 6.4rem;
                                @include margin-bottom(0.8rem);

                            }

                            h4 {

                                color: var(--Blue-Primary);
                                font-family: "Rubik Mono One", sans-serif;
                                @include font-size(2.4rem);
                                @include rfs(120%, line-height);
                                @include rfs(-0.024rem, letter-spacing);
                                @include margin-bottom(3rem);

                            }

                        }

                        p {

                            color: var(--Dark-Blue);
                            @include font-size(1.6rem);
                            @include rfs(2.4rem, line-height);

                        }
                    }
                }

            }
            
            .pagination-control-dados {

                max-width: 11rem;

            }

        }
    }

}

.s-backup-acronis {

    @include padding(8rem 0 8rem 0);
    background-color: var(--White);

    .container-pg {

        .total-backup-acronis {

            .title-text-backup-acronis {

                h2 {

                    color: var(--Blue-Primary);
                    font-family: "Rubik Mono One", sans-serif;
                    @include font-size(3.2rem);
                    @include rfs(3.2rem, line-height);
                    @include rfs(-0.032rem, letter-spacing);
                    @include margin-bottom(3.2rem);

                }

                p {

                    color: var(--Dark-Blue);
                    @include font-size(1.6rem);
                    @include rfs(2.4rem, line-height);

                }
                
                .sticky-lg-top {

                    position: sticky;
                    top: 125px;
                    z-index: 1020;
                    
                }

            }

            .images-backup-acronis {

                margin: 0 auto;
                align-items: center;
                max-width: 63.5rem;
                display: flex;
                flex-direction: column;
                @include rfs(0.8rem, gap)

            }

        }

    }


}

.s-confianca-acronis {

    @include padding(8rem 0 8rem 0);
    background: url('../../../imgs/acronis/bg-vantagens-acronis.png') no-repeat right center/cover var(--Dark-Blue-Secundary);

    .container-pg {

        h2 {

            color: var(--Green-Tertiary);
            font-family: "Rubik Mono One", sans-serif;
            @include font-size(3.2rem);
            @include rfs(3.2rem, line-height);
            @include rfs(-0.032rem, letter-spacing);
            @include margin-bottom(2.4rem);

        }

        p {

            color: var(--White);
            @include font-size(1.8rem);
            @include rfs(3.2rem, line-height);
            @include margin-bottom(4rem);

        }

    }

}

@media only screen and (max-width: 576px) {
    .s-hero-acronis {

        .container-pg {
        
            .global-hero-acronis {

                padding: 28.8rem 0 3.2rem 0;
                    // @include padding-top(20.7rem);
        
                .title-hero-acronis {
        
                    h1 {
        
                        opacity: 0;
                        position: absolute;
                        left: 32px;
                        top: 140px;
                        
        
                    }
        
                }
                
                .text-hero-acronis {

                    p {

                        max-width: 100%;
                        font-size: 1.4rem;
                        margin-bottom: 3.2rem;
    
                    }

                    img {

                        margin: 0 auto;
                        width: 100%;

                    }

                }
            }
        
        }
        
    }
    .s-topicos-acronis {
      
        .container-pg {
    
            .swiper.topicos-slide {
    
                margin: 0 auto;
    
                .swiper-wrapper {
    
                    .swiper-slide {
    
                        min-height: 43rem;
                        
                        .subtittle-topico-acr {

                            h2 {

                                font-size: 1.9rem;

                            }

                            p {

                                font-size: 1.4rem;

                            }

                        }
                    }
    
                }
    
            }
    
        }
    
    }
    .s-vantagens-acronis {
    
        .container-pg {
    
            .global-vant-acronis {
    
                .title-text-vantagens-acronis {
    
                    width: 100%;
    
                }

                .swiper.vantagens-acr {

                    max-height: 151.9rem;
    
                    .swiper-wrapper {
    
                        .swiper-slide {
    
                            min-height: 33rem;
    
                        }
    
                    }
    
                }
    
            }
    
        }
    
    
    }

    .s-controle-de-dados-acronis {

        .container-pg {
    
            .swiper.control-dados {
    
                .swiper-wrapper {

                    .swiper-slide {
    
                        @include padding(2.4rem);
                        min-height: 33.8rem;
                        background-color: var(--White);
                        border-radius: 0.8rem;

                    }
    
                }
    
            }
        }
    
    }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
    
    .s-topicos-acronis {
      
        .container-pg {
    
            .swiper.topicos-slide {
    
                margin: 0 auto;
    
                .swiper-wrapper {
    
                    .swiper-slide {
    
                        min-height: 66rem;
                        
                    }
    
                }
    
            }
    
        }
    
    }
    .s-vantagens-acronis {
    
        .container-pg {
    
            .global-vant-acronis {
    
                .title-text-vantagens-acronis {
    
                    width: 100%;
    
                }

                .swiper.vantagens-acr {

                    max-height: 151.9rem;
    
                    .swiper-wrapper {
    
                        .swiper-slide {
    
                            min-height: 44rem;
    
                        }
    
                    }
    
                }
    
            }
    
        }
    
    
    }

    .s-controle-de-dados-acronis {

        .container-pg {
    
            .swiper.control-dados {
    
                .swiper-wrapper {
    
                    .swiper-slide {
    
                        padding: 2.4rem 1.2rem;
                        min-height: 45rem;
                        background-color: var(--White);
                        border-radius: 0.8rem;
    
                    }
    
                }
    
            }
        }
    
    }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
    .s-hero-acronis {

        .container-pg {
        
            .global-hero-acronis {

                .text-hero-acronis {

                    p {

                        max-width: 100%;
                        font-size: 1.4rem;
                        margin-bottom: 3.2rem;
    
                    }

                    img {

                        margin: 0 auto;
                        width: 100%;

                    }

                }
            }
        
        }
        
    }
    .s-topicos-acronis {
      
        .container-pg {
    
            .swiper.topicos-slide {
    
                margin: 0 auto;  

                .swiper-wrapper {
    
                    .swiper-slide {
    
                        min-height: 61rem;
                        
                        .subtittle-topico-acr {

                            h2 {

                                font-size: 1.6rem;

                            }

                            p {

                                font-size: 1.4rem;

                            }

                        }
                    }
    
                }
    
            }
    
        }
    
    }
    .s-vantagens-acronis {
    
        .container-pg {
    
            .global-vant-acronis {
    
                .title-text-vantagens-acronis {
    
                    width: 100%;
    
                }

                .swiper.vantagens-acr {
    
                    .swiper-wrapper {
    
                        .swiper-slide {
    
                            min-height: 36.8rem;
                            
                            p {

                                font-size: 1.8rem;

                            }
                        }
    
                    }
    
                }
    
            }
    
        }
    
    
    }
    .s-controle-de-dados-acronis {

        .container-pg {
    
            .swiper.control-dados {
    
                .swiper-wrapper {
    
                    .swiper-slide {
                        
                        padding: 2.4rem 1.2rem;
                        min-height: 46rem;
                        background-color: var(--White);
                        border-radius: 0.8rem;

                    }
    
                }
    
            }
        }
    
    }
}

@media only screen and (min-width: 993px) {
    .s-hero-acronis {
    
         .container-pg {
    
            .global-hero-acronis {

                 .text-hero-acronis {

                    gap: 3rem;
                    display: flex;
                    justify-content: space-between;


                 }
    
             }
    
         }
    
    }
    .s-topicos-acronis {

         .container-pg {
    
            .swiper.topicos-slide {
    
                .swiper-pagination-topicos {

                    display: none;

                }

                 .swiper-wrapper {
    
                    max-width: 111.4rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 2.2rem;
                    flex-wrap: wrap;

    
                     .swiper-slide {
    
                        max-width: 54rem;
                        min-height: 44rem;

                     }
    
                 }
    
             }
    
         }
    
    }
     .s-vantagens-acronis {


        // tentando corrigir a altura do container que nao esta cabendo na tela
        // height: 200rem;

         .container-pg {
    
             .global-vant-acronis {
                
                display: flex;
                justify-content: space-between;

                // .title-text-vantagens-acronis {

                //     // h2 {

                //     //     top: 150px;
                //     //     position: sticky;

                //     // }

                //     // p {

                //     //     top: 250px;
                //     //     position: sticky;

                //     // }

                //  }

                 .swiper.vantagens-acr {

                    // max-height: 160rem;
                    margin: 0;

                    .pagination-VantagensArc {

                        display: none;

                    }

                     .swiper-wrapper {
                        
                        display: flex;
                        flex-direction: column;
                        gap: 3.2rem;

                        .swiper-slide {

                        
                            background: var(--Blue-Primary, #1F447A);
                            display: flex;
                            max-width: 54rem;
                            max-height: 22.4rem;
                            padding: 32px;
                            border-radius: 4px;
    
    
                            p {
    
                                color: var(--White);
                                line-height: 32px;
    
                            }
    
                        }
                    }
                }
            }
        }
    }
    .s-controle-de-dados-acronis {

        .container-pg {
    
            .swiper.control-dados {

                .pagination-control-dados {

                    display: none;
    
                }
    
                margin: 0 auto;

                .swiper-wrapper {
    
                    justify-content: center;
                    display: flex;
                    align-items: baseline;
                    flex-wrap: wrap;
                    @include rfs(4.6rem, gap);
    
                }
    
            }
        }
    
    }
    .s-backup-acronis {

        .container-pg {
            .title-text-backup-acronis {

                max-width: 43.8rem;

            }
    
            .total-backup-acronis {

                display: flex;
                justify-content: space-between;
    
            }
    
        }
    }
    .s-confianca-acronis {
    
        .container-pg {
    
            h2 {
                
                max-width: 28.5rem;
    
            }
    
            p {
    
                max-width: 44.5rem;

            }
    
        }
    
    }
}